*.o
*.ko
*.mod
*.mod.c
*.cmd
*.d
*.a
*.s
*.lst
*.symtypes
*.order
*.builtin
*.tmp
.tmp_versions/
Module.symvers
modules.order
vmlinux
vmlinux.o
System.map
.config
include/generated/
arch/*/include/generated/
certs/signing_key.pem
certs/signing_key.x509
